# Dependencies
node_modules/
.venv/

# Build output
dist/

# Python cache
__pycache__/
*.pyc

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/workspaceStorage/

# Misc
*.log
# GCP credentials
gcp-key.json